<div class="modal-header">
	<h2 class="modal-title">{{company.name}}</h2>
</div>

<div class="modal-body">
	<h3 class="modal-title">{{"Employees" | translate}}</h3>
	<ul class="employees list-inline">
		<li data-ng-repeat="person in company.employees">{{person.age}}</li>
	</ul>

	<div class="input-group">
		<select class="form-control" data-ng-model="personId">
			<option data-ng-repeat="person in personOptions" value="{{person.id}}">{{person.age}}</option>
		</select>
		<div class="input-group-btn">
			<button class="btn" data-ng-click="add()" aria-label="Add" title="Add">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-default" data-ng-click="clear()">Clear</button>
	<button class="btn btn-primary" data-ng-click="ok()">Close</button>
</div>
